/* layout/style CSS*/

*{
    margin: 0;
    padding: 0; 
}
body{
    width:100%;
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.game{
    width: 700px; 
    height: 500px; 
    background-color: rgb(57, 8, 82); 
    position: relative; 
}

.boundary-line{
    width: 100%; 
    height: 20px; 
    background-color: navy; 
    position: absolute; 
    bottom: 0; 
}

.student{
    width: 160px; 
    height: 100px;
    background-image: url('panickedstudent.jpg');
    background-size: cover; 
    background-position: center;
    position: absolute; 
    bottom: 15px;
    left: calc(50% - 40px);
}

.task{
   width: 30px; 
   height: 30px; 
   background-image: url('deadline.png');
   background-size: cover; 
   background-position: center;
   position: absolute;
}

<<<<<<< Updated upstream

/*.fun{
    width: 30px; 
    height: 30px; 
    background-color:rgb(62, 60, 60);
    position: absolute;
<<<<<<< Updated upstream
 }
*/
 .score {
    position: absolute; 
    top: 10px; 
    left: 10px; 
    color: white; 
    font-size: 24px; 
    z-index: 1; 
}


 
=======
>>>>>>> Stashed changes
